@charset "utf-8";

/* =================================================
	* Common
================================================= */
html{}
body{font-family:'Noto Sans KR', sans-serif;font-size:14px;color:#433131;/*opacity:0;transition:.5s linear;*/}
body.scroll-fixed{overflow:hidden;}
.blind{position:absolute;overflow:hidden;clip:rect(0 0 0 0);margin:-1px;width:1px;height:1px;}
.fr{float:right;}
.fl{float:left;}
.fn{float:none;}
.bold{font-weight:bold;}
.tl{text-align:left !important;}
.tc{text-align:center !important;}
.tr{text-align:right !important;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
button{outline:none;}
input,textarea,select,button{font-family:'Noto Sans KR', sans-serif;}
*{box-sizing:border-box;-webkit-overflow-scrolling:touch;-webkit-appearance:none;outline:none;-webkit-tap-highlight-color:rgba(255, 82, 82, .2); }
.hover{transition:transform .1s cubic-bezier(.84,0,.16,1);}
.hover.touch{transform:scale(.8,.8);}
.roboto{font-family: 'Roboto', Sans-serif;}

/* Form */
select{width:100%;height:40px;padding:0 44px 0 10px;background:url('../images/icon/icon_down1.svg') no-repeat calc(100% - 12px) center #fff;background-size:22px 22px;border:1px solid #eee;border-radius:6px;font-size:14px;}

/* =================================================
    * Header
================================================= */
#header{position:fixed;top:0;left:0;z-index:10;width:100%;height:60px;padding:0 64px;}
#header.header-gray{background:#fafafa;}
#header:after{content:"";display:block;clear:both;}
#header h1{position:absolute;top:50px;left:20px;width:130px;transition:.2s ease-in-out;}
#header h1 img{display:block;width:100%;}
#header p{font-size:18px;text-align:center;line-height:60px;}
#header .btn-back{position:absolute;top:0;left:0;width:64px;height:60px;padding:0;background:url('../images/icon/icon_back1.png') no-repeat center center;background-size:24px 24px;text-indent:-9999em;}
#header .btn-list{position:absolute;top:0;right:0;width:64px;height:60px;padding:0;background:url('../images/icon/icon_list1.png') no-repeat center center;background-size:24px 24px;text-indent:-9999em;}
#header .btn-confirm{position:absolute;top:0;right:0;width:64px;height:60px;padding:0 20px 0 0;font-size:14px;text-align:right;line-height:60px;}
#header .btn-alarm{position:absolute;top:0;right:0;width:64px;height:60px;padding:0;background:url('../images/icon/icon_alarm1.png') no-repeat center center;background-size:24px 24px;text-indent:-9999em;}
#header .btn-alarm:before{content:"";position:absolute;top:50%;left:50%;width:10px;height:10px;margin:-10px 0 0 2px;background:#ff5b5b;border-radius:10px;font-size:10px;color:#fff;text-align:center;line-height:1;}
#header.scrolled h1{top:20px;width:100px;}
.gnb{display:flex;position:fixed;bottom:0;left:0;width:100%;height:56px;background:#fff;border-top:1px solid #ddd;}
.gnb a{flex:1 1 0;position:relative;padding-top:33px;text-align:center;}
.gnb a span{font-size:10px;font-weight:500;color:#afa0a0;line-height:14px;}
.gnb a.on span{color:#433131;}
.gnb .btn-home{background:url('../images/icon/icon_home1.png') no-repeat center 8px;background-size:20px 20px;}
.gnb .btn-my{background:url('../images/icon/icon_user1.png') no-repeat center 8px;background-size:20px 20px;}
.gnb .btn-adball-entry span{font-size:10px;font-weight:500;color:#ff8a66;line-height:14px;}
.gnb .btn-adball-entry strong{position:absolute;top:-20px;left:50%;width:48px;height:48px;margin:0 0 0 -24px;text-indent:-9999em;}
.gnb .btn-adball-entry strong:before{content:"";position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;background-image:linear-gradient(to right, #ff9369, #ff5252 100%);border-radius:48px;opacity:.2;transition:.1s .1s ease-in-out;}
.gnb .btn-adball-entry strong:after{content:"";position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;background-image:linear-gradient(to right, #ff9369, #ff5252 100%);border-radius:48px;opacity:.4;transition:.1s ease-in-out;}
.gnb .btn-adball-entry strong em{position:absolute;top:0;left:0;z-index:4;width:100%;height:100%;background:url('../images/btn/btn_adball.png') no-repeat center center;background-size:48px 48px;transition:.1s .2s ease-in-out;}
.gnb .btn-adball-entry strong em:before{content:"";position:absolute;top:-10px;left:-10px;width:64px;height:31px;background:url('../images/bg/bg_adball.png') no-repeat center center;background-size:64px 31px;transform:scale(0,0);transition:.1s .2s ease-in-out;}
.gnb .btn-adball-entry.active strong:before{transform:scale(1.5,1.5);}
.gnb .btn-adball-entry.active strong:after{transform:scale(1.2, 1.2);}
.gnb .btn-adball-entry.active strong em{transform:translate(0, -34px);}
.gnb .btn-adball-entry.active strong em:before{transform:scale(1,1);}


/* =================================================
    * Container
================================================= */
#container{min-height:100vh;}
.main{padding:100px 20px 20px;background:#fafafa;}
.main .top-info{margin-bottom:22px;}
.main .top-info .point{margin-bottom:17px;font-size:0;}
.main .top-info .point:after{content:"";display:block;clear:both;}
.main .top-info .point p{display:inline-block;font-size:36px;font-weight:bold;color:#ff5252;line-height:42px;vertical-align:bottom;}
.main .top-info .point .btn-adball{display:inline-block;margin:0 0 3px 5px;padding:0 20px 0 0;background:url('../images/icon/icon_question1.png') no-repeat right 4px;background-size:16px 16px;font-size:14px;font-weight:500;color:#ff5252;vertical-align:bottom;}
.main .top-info .progress{position:relative;margin-bottom:10px;padding-right:103px;}
.main .top-info .progress .progress-bar{overflow:hidden;position:relative;width:100%;height:7px;background:#e8e8e8;border-radius:2px;}
.main .top-info .progress .progress-bar span{position:absolute;top:0;left:0;height:100%;background-image:linear-gradient(to right, #ff9369, #ff5252 100%);border-radius:2px;}
.main .top-info .progress dl{position:absolute;top:-12px;right:0;}
.main .top-info .progress dt{display:inline-block;font-size:11px;color:#433131;line-height:17px;}
.main .top-info .progress dd{display:inline-block;font-size:16px;color:#433131;line-height:24px;}
.main .top-info .add-point:after{content:"";display:block;clear:both;}
.main .top-info .add-point p{float:left;font-size:11px;color:#433131;line-height:17px;}
.main .top-info .add-point .btn-check{float:right;padding-right:9px;background:url('../images/icon/icon_right1.png') no-repeat right 5px;background-size:auto 9px;font-size:11px;color:#433131;line-height:17px;}
.main .add-area{overflow:hidden;margin-bottom:12px;border-radius:6px;}
.main .add-area img{display:block;width:100%;}
.main .action-area{width:calc(100% + 12px);margin-left:-12px;}
.main .action-area:after{content:"";display:block;clear:both;}
.main .action-area a{float:left;width:calc(50% - 12px);height:90px;margin:0 0 12px 12px;padding:14px 5px 0 14px;background:#fff;border:1px solid #eee;border-radius:6px;}
.main .action-area a strong{display:block;margin-bottom:4px;font-size:14px;font-weight:500;line-height:20px;}
.main .action-area a span{display:block;font-size:12px;color:#797979;line-height:1.5;letter-spacing:-1px;}
.main .action-area .btn-charging{width:calc(100% - 12px);height:82px;padding-top:19px;border:2px solid #ff9269;}
.main .action-area .btn-charging strong{font-size:18px;color:#ff8a66;}
.main .action-area .btn-charging span{color:#ff8a66;}
.main .sub-action-area a{display:block;position:relative;padding:10px;background:#fff;border:1px solid #eee;border-radius:6px;font-size:14px;}
.main .sub-action-area a:before{content:"";position:absolute;top:50%;right:10px;width:18px;height:18px;margin-top:-9px;background:url('../images/icon/icon_right2.svg') no-repeat center center;background-size:18px 18px;}
.main .sub-action-area a + a{margin-top:6px;}


/* =================================================
    * Footer
================================================= */
#footer{padding:0 20px 96px;background:#fafafa;}
#footer p{font-size:10px;color:#ccc;text-align:center;}
#footer select{display:block;width:120px;margin:20px auto 0;}


/* =================================================
	* Media Query
================================================= */
@media only screen and (max-width:480px) {

}